---
import { getCollection } from "astro:content";
import { postPath } from "../../utils/postUrl";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE } from "../../config";
import { SITE_TITLE, CATEGORIES } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const categories = [...new Set(posts.map((post) => post.id.split("/")[0]))];

  return categories.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const categoryDescription = CATEGORIES[category]?.description || `${category} posts — ${SITE_TITLE}`;
const displayName = CATEGORIES[category]?.display || category;
const posts = await getCollection("blog", ({ data }) => !data.draft);
const filteredPosts = posts.filter((post) => post.id.startsWith(category)).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <BaseHead title={`${category} - ${SITE_TITLE}`} description={categoryDescription} />
  </head>
  <body>
    <main>
      <Header />
      <section>
        <div>
          <div class="space-y-2 pb-4 pt-2 md:space-y-5">
            <h4 class="text-content">
              {displayName}
            </h4>
          </div>
          <div class="divide-y divide-gray-300">
            {!filteredPosts.length && "No posts found."}
            {
              filteredPosts.map((post) => {
                const { date, title } = post.data;
                return (
                  <div class="py-4">
                    <div class="space-y-2 md:grid md:grid-cols-4 md:items-baseline md:space-y-0 mt-auto">
                      <div class="space-y-5 md:col-span-3">
                        <h5 class="tracking-tight text-primary">
                          <a href={`/${postPath(post)}`}>{title}</a>
                        </h5>
                      </div>
                      <dl>
                        <dt class="sr-only">Published on</dt>
                        <dd class="text-base font-medium leading-6 text-grey md:text-right">
                          <FormattedDate date={date} />
                        </dd>
                      </dl>
                    </div>
                  </div>
                );
              })
            }
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
